<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload File</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <div class="navbar">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('upload') }}">Upload</a>
    <a href="{{ url_for('logs') }}">Logs</a>
  </div>

  <div class="container">
    <h1>📁 Upload Client CSV</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="flash {{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <form method="POST" enctype="multipart/form-data">
      <label for="client_name">Client Name</label>
      <input type="text" id="client_name" name="client_name" placeholder="Enter client name" required>
      <label>Client Email:</label>
      <input type="email" id="client_name" name="client_email" placeholder="Enter client email"><br>
      <label for="file">CSV File</label>
      <input type="file" id="file" name="file" accept=".csv" required>

      <button type="submit">Upload & Generate Report</button>
    </f
